<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Google Cloud Vision APIで遊んでみた</title>
</head>
<body>
  <header>
    <p>画像をアップロードするとGoogleCloudVisionAPIを用いて解析します</p>
  </header>
  <p>APIリミット 1000/1000</p>
  <form method="POST" enctype="multipart/form-data">
    <p><input name="file" type="file" accept="image/*"></p>
    <p><input type="submit" value="送信"></p>
  </form>
  <footer>
    <a href="https://github.com/Sa2Knight/vision-api-test">
      リポジトリ
    </a>
  </footer>
</body>
</html>
